//Couleurs
    //couleur texte de base
    $color-1: #303030;
    //couleur texte 2 grey
$color-2: #818181;
    //Green de base
$color-3: #779b2b;
    //Green light (hover)
$color-4: #c5d8a7;
    //Beige
$color-5: #fcf6ed;


html{
    scroll-behavior: smooth;
}

section.login {
    width: 100vw;
    height: 100vh;
    font-size: 1.15rem;
}

.connexion {
    width: 25%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #779b2b;
    border-radius: 15px;
    > * {
        margin: 0 25px;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

input {
    margin-bottom: 15px;
}

.wrapper_body {
    padding-top: 100px;
    background: greenyellow;
    background-image: url(../img/);
}

.pass {
    display: flex;
    align-items: center;
    > i {
        margin-right: 10px; 
    }
}